/paper/AI_content_report.pdf
/paper/plagiarism_report.pdf
/paper/Old_PhyRes.pdf
/results/Old_Bangalore
/results/Old_Hyderabad
/results/desktop.ini
/results/.ipynb_checkpoints
/src/files.zip
/src/files